.main-detail
    width 60%
    min-height 100%
    background #f0f0f0

    &-header
        width 100%
        height 300px
        background-color #aaa

    &-body
        padding 40px 30px

    &__title
        font-size 52px
        color #141414
        padding-bottom 20px

    &__text
        color #636363
        font-size 14px
        line-height 20px
